<nav class="navbar fixed-top navbar-white bg-dark border border-secondary border-bottom-5">
        <div class="container">
            <div id="headerbox">  
              <h1 class="text-white">ABC News</h1>
            </div>    
            <h4 class="text-dark">
                <a href="/">All Articles</a>
            </h4>
          </div>
      </nav>
    
      
        
            <div class="container">
                <div class="jumbotron bg-white border p-3">
            <h2 class="display-8">About Me</h2>
            
            <hr class="my-4">
                    
            <div class="articles">

  {{#each saves}}
    <div class='card' style='width: 100%;'>
                <div class='card-body'>
                  <a href={{url}}><h5 class='card-title'> {{headline}} </h5></a>
                  <h6 class='card-subtitle mb-2 text-muted'>{{newstime}}</h6>
                  <p class='card-text'>{{content}}</p>
                  <a href='/removesave/{{id}}' class='card-link' id={{id}}>Delete Saved Article</a>
                  <a href='#' class='card-comment' id=p{{id}}>Put Notes</a>
                  <div class="comments" id=cp{{id}} style="display:none;">
                    <div class="comtainer">
                      {{#each comments}}
                         <li>{{this}}</li>
                        <br>
                      {{/each}}
                    </div>
                    
                    <form>
                            <div class="form-group">
                              <label for="exampleFormControlTextarea1">Comments:</label>
                              <textarea class="form-control" id=t{{id}} rows="3"></textarea>
                            </div>
                            <input class="btn btn-primary" type="submit" id =st{{id}} value="Submit">
                    </form>
                  </div>
                </div>
              </div>
  {{/each}}

            </div>
               
          </div>
        
      </div>
    
  </div>
</div>


    <nav class="navbar fixed-bottom navbar-dark bg-primary border-top border-success">
        <div class="container">

              <h6 class="text-white align-center">Copyright@Shing Hei Chan</h6>
 
          </div>
      </nav>

</body>

